---
import { Icon } from "astro-icon/components";
import Layout from "@layouts/main.astro";
---
<Layout>
	<div class="main">

		<div id="drop-area">
			<span class="upload-icon" data-event="deactive">
				<Icon name="heroicons:arrow-up-tray" />
			</span>
			<span class="upload-icon" data-event="active">
				<Icon name="heroicons:fire" />
			</span>
			<p data-event="deactive">拖放文件到此上传</p>
			<p data-event="active">松手以上传</p>
			<div class="file-chooser-con" data-event="deactive">
				<label for="file-chooser">或点此选择文件</label>
				<input
				  type="file"
				  id="file-chooser"
				  name="file-chooser"
				  multiple />
			  </div>
		</div>

		<div id="FilesPreview">
			<div class="file prototype">
				<div class="info">
					<div class="file-detail">
						<div class="file-name">114514.mp4</div>
						<div class="file-info">
							<span class="file-size">180.81 MiB</span>
							(<span class="file-progress">94.87%</span>)
						</div>
					</div>
					<div class="progress-con">
						<div class="progress"></div>
						<div class="file-progress">94.87%</div>
					</div>
					<code class="file-url">请先上传文件。</code>
				</div>
				<div class="actions">
					<button data-action="upload">
						<Icon name="heroicons:arrow-up-tray" />
						<span class="tip">Upload</span>
					</button>
					<button data-action="remove">
						<Icon name="heroicons:x-circle" />
						<span class="tip">Cancel</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</Layout>

<style lang="scss">
	div.main {
		width: 65%;
	    border: none;
    	padding: 28px 32px;
		margin: 10vh 0;
	    border-radius: 32px;
    	transition: all 0.3s ease;
    	background-color: rgba(40, 41, 42, 0.5);
		backdrop-filter: blur(18px);
		#FilesPreview {
			.file {
				display: flex;
				align-items: center;
				margin-top: 12px;

				.info {
					width: 100%;
					margin-right: 10px;
					box-sizing: border-box;
					.file-detail {
						display: flex;
						justify-content: space-between;
						margin-bottom: 6px;
						.file-progress {
							font-weight: bolder;
						}
					}
					.progress-con {
						display: block;
						height: 12px;
						widows: 100%;
						border-radius: 15px;
						overflow: hidden;
						background-color: #1f1f1f;
						.progress {
							width: 94.87%;
							height: 100%;
							background-color: aqua;
							transition: width 0.1s linear;
						}
					}
				}
				.actions {
					display: flex;
					gap: 4px;
					writing-mode: sideways-rl;
					button {
						padding: 10px 7px;
					}
					.tip {
						display: none;
					}
				}
				&.prototype {
					display: none !important;
				}
			}
			@media screen and (max-width: 720px) {
				.file {
					display: block;
					.actions {
						display: block;
  						writing-mode: initial;
						display: flex;
  						justify-content: space-around;

						button {
							padding: 10px 14px;
							margin-top: 10px;
							[data-icon] {
								width: 22px;
								height: 22px;
								vertical-align: -0.3125rem;
							}
							.tip {
								display: inline-block;
								margin-left: 6px;
							}
						}
					}
				}
			}
		}
		#drop-area {
			text-align: center;
  			padding: 20px 24px;
			margin-bottom: 12px;
			width: 100%;
			max-width: 640px;
			box-sizing: border-box;
			margin: auto;
  			transition: all 0.15s ease 0s;

			border-color: #ac81de;
			border-width: 3px;
			border-style: dashed;
	    	border-radius: 24px;
		
			background-clip: padding-box;
			background-color: #1f1f1f;

			[data-event="active"] {
				display: none;
			}
			[data-event="deactive"] {
				display: block;
			}

			.file-chooser-con {
				label {
					display: inline-block;
					border-style: solid;
  					border-width: 1px;
  					border-radius: 6px;
  					padding: 4px 8px;
  					border-color: #404040;
  					background-color: #232323;
				}
				input {
					display: none;
				}
			}

			> * {
				margin: 0;
				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}

			&.active {
				transform: scale(1.025);
				border-style: solid;

				[data-event="active"] {
					display: block;
				}
				[data-event="deactive"] {
					display: none;
				}
			}
			[data-icon] {
				height: 32px;
    			width: 32px;
			}
		}
	}
</style>

<script src="@assets/js/main.js"></script>