---
import "@assets/css/base.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="使用 Telegraph 作为储存的图片上传工具. With completely free, fast and open-sourced." />
		<meta name="author" content="The Armo Lab" />
		<link rel="sitemap" href="/sitemap-index.xml">
		<title>Home - Telegraph-Image-Hosting</title>
	</head>
	<body>
        <slot />
	</body>
</html>
